build/
data/*.bin
data/*.csv
data/**/*.bin
data/**/*.csv
data/**/*.tar.gz
data/**/*.f32
data/**/100x500x500/
data/**/256x384x384/
data/**/512x512x512/
data/**/MANIFEST.txt
results/*.csv
results/*_summary.txt
*.bin
*.csv
.vscode/
.idea/
CMakeFiles/
cmake_install.cmake
CMakeCache.txt
Makefile
*.vcxproj
*.vcxproj.filters
*.sln
